%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, [
        {ct_router_if, {git, "https://github.com/CargoTube/ct_router_if.git", {branch, "master"}}},
        {ct_gate, {git, "https://github.com/CargoTube/ct_gate.git", {branch, "master"}}},
        {ct_msg, {git, "https://github.com/CargoTube/ct_msg.git", {branch, "master"}}},
        {ct_router, {git, "https://github.com/CargoTube/ct_router.git", {branch, "master"}}}
       ]}.
